.content .cont .title {
    margin-bottom: 60px;
}

/* .content .cont .title a {
    font-size: 16px;
    color: #000 !important;
} */

.content .cont{
    padding-left: 60px;
}

/* .content .cont .title .layui-breadcrumb span {
    position: relative;
    top: -1px;
    margin: 0 16px;
} */

/* .content .cont .title a.active, .content .cont .title a:hover {
    color: #ff7f21 !important;
} */

/* .content .cont .list-item .layui-fluid {
    padding: 0;
} */

.content .cont .list-item .item {
    margin-bottom: 60px;
    overflow: hidden;
}

/* .content .cont .list-item .item .img img {
    width: 100%;
} */

.content .cont .list-item .item .item-cont {
    padding-left: 20px;
}

/* .content .cont .list-item .item .item-cont .go-icon {
    width: 33px;
    height: 11px;
    background: url(../img/jiantou.png) center center no-repeat;
    display: block;
    padding: 10px 0;
    margin-top: 16px;
} */

/* .content .cont .list-item .item .item-cont h3 {
    font-size: 24px;
    margin: 20px 0;
} */

/* .content .cont .list-item .item .item-cont h3 .new-icon {
    width: 60px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 0;
    margin: -3px 0 0 10px;
} */

/* .content .cont .list-item .item .item-cont h5 {
    font-size: 12px;
    color: #ff7f21;
    margin-bottom: 32px;
} */

/* .content .cont .list-item .item .item-cont p {
    line-height: 37px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}  */

/* .tqm-page a, .tqm-page span {
    cursor: pointer;
    padding: 8px 20px;
    font-size: 20px;
} */
.cont{
    background-color: #fff;
    padding-top: 30px;
} 



.layui-col-md7{
    padding-left: 20px;
}

.post_neirong li {
    padding: 0px 0px;
}

.post_neirong li .tzbt {
    height: 35px;
    padding-top: 5px;
    font-size: 18px;
    font-family: 宋体;
}
.post_neirong li .tzbt a:first-child {
    color: rgb(243, 63, 9);
}
.post_neirong li .tzbt a:first-child:hover {
    color: rgb(245, 8, 8);
}
.post_neirong li .tzbt a:last-child {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.post_neirong li .tzbt a:last-child:hover {
    color: rgb(243, 63, 9);
}
.post_neirong li .tzpt {
    height: 130px;
    margin-bottom: 20px;
}
.post_neirong li .tzjj {
    height: 110px;

    margin-left: -20px;
    margin-top: 25px;
    font-size: 14px;
    color: rgb(92, 87, 87);
}
.post_neirong li .tztime {
    height: 20px;
    width: 600px;
    margin-bottom: 10px;
    margin-left: -20px;
    font-size: 14px;
    color: #999;
}

.post_neirong li .tztime .shanchu{
    padding-top: 20px ;
    /* margin-left: 200px; */
}

.post_neirong li .tztime .shanchu a{
    width: 55px;
    height: 24px;
    text-align: center;
    background-color:#1E9FFF;
    display: inline-block;
    color: #000;
}
.post_neirong li .tztime span:last-child {
    margin-left: 40px;
}
.post_neirong li .tztime span:last-child span {
    color: #999;
    text-decoration: none;
    margin-right: 20px;
}
.post_neirong li .tztime span:last-child span:last-child {
    color: rgb(243, 63, 9);
}
.fgx {
    border-bottom: 1px solid #ddd;
}



.item .layui-fluid .layui-row .item-cont .post_neirong .aa{
    padding-left: 60px;
    width: 600px;
    height: 185px;
}

.item .layui-fluid .layui-row .item-cont .post_neirong{
    width: 600px;
    height: 188px;
}
.layui-row:after{
    margin-left: 30px;
}

.layui-fluid .layui-row .item-cont .post_neirong .shanchu{
    margin-left: 300px;
    margin-bottom: 5px;
}